<style scoped>
.hero {
    padding-top:1rem;
    display:flex; 
    flex-direction:row;
}

.hero p {
    font-size:1rem;
}
.hero .hero_text {
    width:70%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:15rem;
}
.hero .hero_text .hero_name {
    height:7.5rem;
    justify-content:end;
    display:flex;
    flex-direction:column;
    margin-bottom:0.5rem;
}
.hero .hero_text .hero_name p{
    font-size:3.5rem;
    font-family:Arial;
    font-weight:700;
    line-height:3rem;
    margin-top:auto;
}
.hero .hero_text .hero_body{
    width:20rem;
    height:7.5rem;
}
.hero .hero_text .position{
    font-size:1.25rem;
    font-weight:400;
}
.hero .hero_text .description{
    font-size:1.25rem;
    font-weight:400;
}
.hero .hero_image {
    width:15rem;
    height:15rem;
}
.hero .hero_image img{
    border-radius: 100%;
    width:15rem;
    height:15rem;
}

.description span {
    text-decoration:underline;
    font-weight:600;
}

</style>

<div class="hero">
    <div class="hero_text">
        <div class="hero_name">
            <p >Will Vincent Parrone </p>
        </div>
        <div class="hero_body">
            <br />
            <p class="description">A web specialist with capabilities in <span class="">Manual & Automated Testing</span>, <span class="">Software Development</span>, and <span class="">Project Management</span>.<p>
        </div>
    </div>
    <div class="hero_image">
        <img src="/images/profile.jpg" alt="Will Vincent Parrone"/>
    </div>
</div>
<script>
</script>
