<style>
.work_block {
    padding:1.25rem;
    border-style:solid;
    border-color:#719591;
    border-width:2px;
    border-radius: 1rem;
    margin-bottom:1rem;
}
.work_block .company {
    font-size:1.25rem;
    font-weight:700;
} 
.work_block .position {
    font-weight:700;
    font-size:1.25rem;
} 
.work_block .date {
    font-size:0.75rem;
    font-weight:700;
    margin-bottom:0.25rem;
} 
.work_block .company-position{
    display:flex;
    flex-direction:row;
}
.work_block .description {
    margin-top:0.5rem;
    font-size:1rem;
} 

</style>
<div class="work_block">
    <p class="date"></p>
    <div class="company-position">
        <p class="company"> </p>
         &nbsp;   - &nbsp;
        <p class="position"><p>
    </div>
    <p class="description"></p>
    <br />
</div>
